# The config expects the following environment variables to be set:
#  - "GN_CONFIG" Build type. One of {'testing', 'release'}.
#  - "GN_EXTRA_ARGS" Additional gn arguments for a build config,
#      e.g. 'target_cpu="x86"' to build for a 32bit platform.
#      https://gn.googlesource.com/gn/+/master/docs/reference.md#target_cpu
#      Don't forget to set up "NPM_CONFIG_ARCH" and "TARGET_ARCH" accordningly
#      if you pass a custom value for 'target_cpu'.
#  - "ELECTRON_RELEASE" Set it to '1' upload binaries on success.
#  - "NPM_CONFIG_ARCH" E.g. 'x86'. Is used to build native Node.js modules.
#      Must match 'target_cpu' passed to "GN_EXTRA_ARGS" and "TARGET_ARCH" value.
#  - "TARGET_ARCH" Choose from {'ia32', 'x64', 'arm', 'arm64', 'mips64el'}.
#      Is used in some publishing scripts, but does NOT affect the Electron binary.
#      Must match 'target_cpu' passed to "GN_EXTRA_ARGS" and "NPM_CONFIG_ARCH" value.
#  - "UPLOAD_TO_S3" Set it to '1' upload a release to the S3 bucket.
#      Otherwise the release will be uploaded to the Github Releases.
#      (The value is only checked if "ELECTRON_RELEASE" is defined.)
#
# The publishing scripts expect access tokens to be defined as env vars,
# but those are not covered here.
#
# AppVeyor docs on variables:
# https://www.appveyor.com/docs/environment-variables/
# https://www.appveyor.com/docs/build-configuration/#secure-variables
# https://www.appveyor.com/docs/build-configuration/#custom-environment-variables

# Uncomment these lines to enable RDP
#on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

version: 1.0.{build}
build_cloud: libcc-20
image: vs2019-16.3-10.0.18362
environment:
  GIT_CACHE_PATH: C:\Users\electron\libcc_cache
  ELECTRON_OUT_DIR: Default
  ELECTRON_ENABLE_STACK_DUMPING: 1
  MOCHA_REPORTER: mocha-multi-reporters
  MOCHA_MULTI_REPORTERS: mocha-appveyor-reporter, tap
  GOMA_AUTH_CONFIG:
    secure: GZjjIWCD5L0fP5sb+PP+Nb/SMhSRK8yJg7GU6EHp3yW0tsiwg2KdRpLq7U363hOwMfkai2aQPBjv50MLFACFuVKEcBeCpEPKtLbLcjnqjU3WzkCcLZPYYDQgX9d0dB79jLd8PKCQ8UN55d7/tjjw7MQ6AQ7LXlxohL8qHKim0DcEhDQoUB4KZq9CDcesINS6app2e4lugZFL5c6Lk8puSN+j/80v5ZYUN6sh0J7SeQ8+5VYMfdQRyxCSn7S3N0gOW7V3/M0glpotS+tLINmZVFpO/On3EPZct68xDLt0+1lipdtJ6qgDDt8haOJN+/3WgzTDqzPVHcqGhnxgTj9cajBXtLlc3cvzyfikRW8qrgGCpVWr8F6L7I3nnkqCbg6V55VPMW11+n49ETkGckHtJw8dRNtyC0vfON2A2DgasfQHbCMM6sQ3sWLcT4ogvfiPg5Uar3if8V4FGBRWxGMH9kUiFEYWJ1Qq9sqgng5+UQaRpd7QkY6TDZ3L6MkYf30lCoJAinmDsijDwwT3RGAKyr4XWoLxe+cEInINHQHgcsAP9W3Ac+gM6jSYp1VhbU9WZtqugj0lT64jQuDjpn36qDlSUXl5SiZ4tgTPXfH80smiwZekjBeqr3DgedGknpggw/7HzWge/9jTHK4hvc+LHlcXrgkWcK6YjqPPuYC7j+BxIebA0E9mXqm8dRas6wyYkbO5d89BO3SHmA39dlI3hFLFwV8HupLLrpvhP/5gJY51FHLo9wqxukF04ekbEjPRCha7dv4RP7qNoqbExyNqeMtb2BTw7nYXV4r8eEUvTMPZSZLsMK5Mm/XVUpyjE31GZ+e0vhwt4baVI3rChypr9USKh8ZrLAt8gncR7SmfrHS4e02koUyE4XvamE82USPX9UTskauKxrOnABWv4spRGXbfaKpHzu7HTRJ/g6s8lY96Ump8A61gu/VYXZSUFKKP6EpedYuClicZWMcaUP41fTdpdAdwmCCCB4Yj6E10VbAMvkO/HhrHwNiMhHSkBm8HNvoft2yQrrS8AjTwrzX5xaPwehA/wzWasXyj4TDez5WI9cnqDpk8iR28WTKtOdWXPxfs5xZV3Psdv0SI8/GS4UqQz+TlOhGKtI6sW6ZLFaeqd8WoxrIUbI5um1n/7MzBW8kVec5X5p0HXrvY/fXcTBM2VX1730ufmdPB6ooF+QHYM1jx3O/wzpN2eJMgxXbuLNpBusIP/gLsur4Z+URoRU186284RxJjp5KMDXnT9Ee5YrllXzkOvtO6XjCkNihSAZteFqN6Rdsa0X+Y22xF00O8+X7wpwG/WbxDNiXASWovpvEVKEtPHVK19rhF8GgLFd70caYvWfPdd0FoWnQqHkHXH4hMZt0ZtjuW5uyvngOCxqCk6chQu0MEtNb8knyV41+8ruHx5RWSYEgT1+nf+5NQRDS3W2ZlJ+fHZAJR6pRs3xBiRC66ub+jk4xJwEr5Fctou1U32dT8I13YJCIp4GLJ7SWsTJ6HQfP3mJzOjO4kylXwgSlxwrT9H/JLOGQoBW6T+DEZ0Q11Ngtt0EOU6Jo5AIXSVmNzLmwvAWzWtEjKLGuI41nEj1VOh90dTFDfPKugOzQGxdZqhmjVBgiL5KwhQQIMJXKCUoJsDv4v8IjZtAJ7ET6nKf5hCchTeDHa7Spr/3R/RuF5vy+3lrarz3jGUJb+dVsbkj8iNhh61/0PQB5By0l4MciOnilez73uEg9z/yJ6NglcazK1gXwuKQ==
notifications:
  - provider: Webhook
    url: https://electron-mission-control.herokuapp.com/rest/appveyor-hook
    method: POST
    headers:
      x-mission-control-secret:
        secure: 90BLVPcqhJPG7d24v0q/RRray6W3wDQ8uVQlQjOHaBWkw1i8FoA1lsjr2C/v1dVok+tS2Pi6KxDctPUkwIb4T27u4RhvmcPzQhVpfwVJAG9oNtq+yKN7vzHfg7k/pojEzVdJpQLzeJGcSrZu7VY39Q==
    on_build_success: false
    on_build_failure: true
    on_build_status_changed: false
build_script:
  - ps: >-
      if(($env:APPVEYOR_PULL_REQUEST_HEAD_REPO_NAME -split "/")[0] -eq ($env:APPVEYOR_REPO_NAME -split "/")[0]) {
        Write-warning "Skipping PR build for branch"; Exit-AppveyorBuild
      } else {
        node script/yarn.js install --frozen-lockfile

        if ($(node script/doc-only-change.js --prNumber=$env:APPVEYOR_PULL_REQUEST_NUMBER --prBranch=$env:APPVEYOR_REPO_BRANCH;$LASTEXITCODE -eq 0)) {
          Write-warning "Skipping build for doc only change"; Exit-AppveyorBuild
        }
      }
  - echo "Building $env:GN_CONFIG build"
  - git config --global core.longpaths true
  - cd ..
  - mkdir src
  - ps: Move-Item $env:APPVEYOR_BUILD_FOLDER -Destination src\electron
  - ps: $env:CHROMIUM_BUILDTOOLS_PATH="$pwd\src\buildtools"
  - ps: $env:GOMA_PATH="$pwd\src\electron\external_binaries\goma-win64"
  - ps: >-
      if ($env:GN_CONFIG -eq 'release') {
        $env:GCLIENT_EXTRA_ARGS="$env:GCLIENT_EXTRA_ARGS --custom-var=checkout_boto=True --custom-var=checkout_requests=True"
      } else {
        $env:NINJA_STATUS="[%r processes, %f/%t @ %o/s : %es] "
      }
  - >-
      gclient config
      --name "src\electron"
      --unmanaged
      %GCLIENT_EXTRA_ARGS%
      "https://github.com/electron/electron"
  - ps: >-
      if ($env:GN_CONFIG -eq 'release') {
        $env:RUN_GCLIENT_SYNC="true"
      } else {
        cd src\electron
        node script\generate-deps-hash.js
        $depshash = Get-Content .\.depshash -Raw 
        $zipfile = "Z:\$depshash.7z"
        cd ..\..
        if (Test-Path -Path $zipfile) {
          # file exists, unzip and then gclient sync
          7z x -y $zipfile -mmt=30 -aoa
          # update external binaries
          python src/electron/script/update-external-binaries.py
        } else {    
          # file does not exist, gclient sync, then zip
          $env:RUN_GCLIENT_SYNC="true"
          if ($env:TARGET_ARCH -ne 'ia32') {
            # only save on x64/woa to avoid contention saving
            $env:SAVE_GCLIENT_SRC="true"
          }
        }
      }
  - if "%RUN_GCLIENT_SYNC%"=="true" ( gclient sync --with_branch_heads --with_tags --ignore_locks)
  - ps: >-
      if (Test-Path 'env:GOMA_AUTH_CONFIG') {
        $env:GOMA_AUTH_CONFIG | Set-Content "$env:USERPROFILE\.goma_oauth2_config"
      }
  - src/electron/external_binaries/goma-win64/goma_ctl.bat ensure_start
  - ps: >-
      if ($env:SAVE_GCLIENT_SRC -eq 'true') {
        # archive current source for future use 
        # only run on x64/woa to avoid contention saving
        if ($(7z a $zipfile src -xr!android_webview -xr!electron -xr'!*\.git' -xr!third_party\WebKit\LayoutTests! -xr!third_party\blink\web_tests -xr!third_party\blink\perf_tests -slp -t7z -mmt=30;$LASTEXITCODE -ne 0)) {
          Write-warning "Could not save source to shared drive; continuing anyway"
        }
      }
  - cd src
  - ps: $env:BUILD_CONFIG_PATH="//electron/build/args/%GN_CONFIG%.gn"
  - gn gen out/Default "--args=import(\"%BUILD_CONFIG_PATH%\") %GN_EXTRA_ARGS% use_goma=true goma_dir=\"%GOMA_PATH%\""
  - gn check out/Default //electron:electron_lib
  - gn check out/Default //electron:electron_app
  - gn check out/Default //electron:manifests
  - gn check out/Default //electron/shell/common/api:mojo
  - ninja -C out/Default electron:electron_app
  - if "%GN_CONFIG%"=="testing" ( python C:\Users\electron\depot_tools\post_build_ninja_summary.py -C out\Default )  
  - gn gen out/ffmpeg "--args=import(\"//electron/build/args/ffmpeg.gn\") %GN_EXTRA_ARGS%"
  - ninja -C out/ffmpeg electron:electron_ffmpeg_zip
  - ninja -C out/Default electron:electron_dist_zip
  - ninja -C out/Default shell_browser_ui_unittests
  - ninja -C out/Default electron:electron_mksnapshot_zip
  - ninja -C out/Default electron:hunspell_dictionaries_zip
  - ninja -C out/Default electron:electron_chromedriver_zip
  - ninja -C out/Default third_party/electron_node:headers
  # - cmd /C %SCCACHE_PATH% --show-stats
  - python electron/build/profile_toolchain.py --output-json=out/Default/windows_toolchain_profile.json
  - appveyor PushArtifact out/Default/windows_toolchain_profile.json
  - appveyor PushArtifact out/Default/dist.zip
  - appveyor PushArtifact out/Default/shell_browser_ui_unittests.exe
  - appveyor PushArtifact out/Default/chromedriver.zip
  - appveyor PushArtifact out/ffmpeg/ffmpeg.zip
  - 7z a node_headers.zip out\Default\gen\node_headers
  - appveyor PushArtifact node_headers.zip
  - appveyor PushArtifact out/Default/mksnapshot.zip
  - appveyor PushArtifact out/Default/hunspell_dictionaries.zip
  - appveyor PushArtifact out/Default/electron.lib
  - ps: >-
      if ($env:GN_CONFIG -eq 'release') {
        # Needed for msdia140.dll on 64-bit windows
        $env:Path += ";$pwd\third_party\llvm-build\Release+Asserts\bin"
        ninja -C out/Default electron:electron_symbols
      }
  - ps: >-
      if ($env:GN_CONFIG -eq 'release') {
        python electron\script\zip-symbols.py
        appveyor-retry appveyor PushArtifact out/Default/symbols.zip
      } else {
        # It's useful to have pdb files when debugging testing builds that are
        # built on CI.
        7z a pdb.zip out\Default\*.pdb
        appveyor-retry appveyor PushArtifact pdb.zip
      }
  - python electron/script/zip_manifests/check-zip-manifest.py out/Default/dist.zip electron/script/zip_manifests/dist_zip.win.%TARGET_ARCH%.manifest
test_script:
  # Workaround for https://github.com/appveyor/ci/issues/2420
  - set "PATH=%PATH%;C:\Program Files\Git\mingw64\libexec\git-core"
  - ps: >-
      if ((-Not (Test-Path Env:\TEST_WOA)) -And (-Not (Test-Path Env:\ELECTRON_RELEASE)) -And ($env:GN_CONFIG -in "testing", "release")) {
        $env:RUN_TESTS="true"
      }
  - ps: >-
      if ($env:RUN_TESTS -eq 'true') {
        New-Item .\out\Default\gen\node_headers\Release -Type directory
        Copy-Item -path .\out\Default\electron.lib -destination .\out\Default\gen\node_headers\Release\node.lib
      } else {
        echo "Skipping tests for $env:GN_CONFIG build"
      }
  - cd electron
  - if "%RUN_TESTS%"=="true" ( echo Running test suite & node script/yarn test -- --enable-logging)
  - cd ..
  - if "%RUN_TESTS%"=="true" ( echo Verifying non proprietary ffmpeg & python electron\script\verify-ffmpeg.py --build-dir out\Default --source-root %cd% --ffmpeg-path out\ffmpeg )
  - echo "About to verify mksnapshot"
  - if "%RUN_TESTS%"=="true" ( echo Verifying mksnapshot & python electron\script\verify-mksnapshot.py --build-dir out\Default --source-root %cd% )
  - echo "Done verifying mksnapshot"
deploy_script:
  - cd electron
  - ps: >-
      if (Test-Path Env:\ELECTRON_RELEASE) {
        if (Test-Path Env:\UPLOAD_TO_S3) {
          Write-Output "Uploading Electron release distribution to s3"
          & python script\release\uploaders\upload.py --upload_to_s3
        } else {
          Write-Output "Uploading Electron release distribution to github releases"
          & python script\release\uploaders\upload.py
        }
      } elseif (Test-Path Env:\TEST_WOA) {
        node script/release/ci-release-build.js --job=electron-woa-testing --ci=VSTS --armTest --appveyorJobId=$env:APPVEYOR_JOB_ID $env:APPVEYOR_REPO_BRANCH
      }
